#####################################################################################
# Project files                                                                     #
#####################################################################################

# Outputs
reports/

# Configuration files
.env
